<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table border="1px">
      <tr>
        <td>ID do produto</td>
        <td>Nome do produto</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Livro de Node.js</td>
      </tr>
    </table>
  </body>
</html>
